/vendor
/node_modules
/.idea
Homestead.json
Homestead.yaml
.env

.phpunit.result.cache
database/conception/
database/.DS_Store

/storage/*.key
/storage/framework/sessions

.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
package-lock.json

public/uploads/temporary/
public/uploads_dev
*.bundle.js
.DS_Store