


.cart-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer
}

.cart-button:focus,.cart-button:hover {
    outline: none !important;
    background-color: transparent;
}

.cart-button .fa-shopping-cart {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: -20%;
    font-size: 1.8em;
    transform: translate(-50%, -50%)
}

.cart-button .fa-square {
    position: absolute;
    z-index: 1;
    top: -20%;
    left: 53%;
    font-size: 0.8em;
    transform: translate(-50%, -50%)
}

.cart-button span {
    position: absolute;
    left: 50%;
    top: 50%;
    color: #fff;
    transform: translate(-50%, -50%)
}

.cart-button span.added {
    /* opacity: 0 */
}

.cart-button.clicked{
    background-color: transparent;
}
.cart-button.clicked .fa-shopping-cart {
    color: #70c745;
    animation: cart 2s ease-in forwards;
    
}

.cart-button.clicked .fa-square {
    animation: box 2s ease-in forwards;
    color: #70c745;
}

.cart-button.clicked span.add-to-cart {
    visibility: hidden;
    /* animation: addcart 2s ease-in forwards */
}

.cart-button.clicked span.added {
    visibility: hidden;
    /* animation: added 2s ease-in forwards */
}

@keyframes cart {
    0% {
        left: -10%
    }

    40%,
    60% {
        left: 50%
    }

    100% {
        left: 110%
    }
}

@keyframes box {

    0%,
    40% {
        top: -20%
    }

    60% {
        top: 36%;
        left: 53%
    }

    100% {
        top: 40%;
        left: 112%
    }
}

@keyframes addcart {

    0%,
    50% {
        opacity: 1
    }

    50%,
    100% {
        opacity: 0
    }
}

@keyframes added {

    0%,
    80% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}